@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #f4f2f2;
  --clr-black: #000000;
  --clr-red: #e50914;
}
img {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
}
.header {
  height: 70vh;
  width: 100vw;
  padding: 1rem 2rem;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.55)
    ),
    url(../images/img.jpg);
  flex-direction: column;

  display: flex;
  gap: 2rem;
  display: flex;
  border-bottom: 5px solid #434040;
}
.menu-container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 160px;
  padding: 1rem;
}
.hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.hero-title {
  font-size: 2rem;
  font-weight: 900;
}
.hero-subtitle {
  font-size: 1rem;
  font-weight: 700;
}
.hero-description {
  font-size: 0.9rem;
  font-weight: 400;
}
.hero-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.75;
}

.email-input {
  width: 100%;

  padding: 1rem 8rem;
  margin-bottom: 0.75rem;
}

.btn-hero-cta {
  margin-left: 6.5rem;

  width: 30%;
  padding: 0.15rem 0.15rem;
}
.section {
  padding: 1.5rem 2rem;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid rgb(49, 48, 48);
  gap: 1rem;
}
.mein-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-subtitle {
  font-size: 1.2rem;
  line-height: 2rem;
}

.section-right-container {
  padding: 2rem;
}

.tv-section,
.section-mobile,
.section-device,
.section-child {
  border-bottom: 10px solid rgb(49, 48, 48);
}
.ul {
  text-decoration: none;
}

.section-title {
  padding-top: 3rem;

  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
.question-itmes {
  padding: 20px;
  margin: 1rem 4rem;
  height: 4rem;
  background-color: #434040;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  font-size: 1.5rem;
}

.icon-plus {
  font-size: 2rem;
  font-weight: 300;
}

.cta-container {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 991px) {
}

@media screen and (min-width: 1024px) {
}
