@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #f4f2f2;
  --clr-black: #242323;
  --clr-red: #e50914;
  /* --clr-red:#db0510; */
}
img {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: "Roboto", sans-serif;
}
logo-container {
}
.section-tv {
  border: 10px solid rgb(49, 48, 48);
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 991px) {
}

@media screen and (min-width: 1024px) {
}
